* {line-height: 1.5;}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 32px;
    color: brown;
    font-weight: 600;
    text-align: center;
}

.container {text-align: center;}

.click-recipes {display: inline-block;
text-align: center;
font-size: 24px;
font-family: "Courier New", sans-serif;
font-weight: bold;
max-width: 1200px;
margin:auto; 
}

.quiabo, .bolo, .arroz {
    box-sizing: border-box;
    display: inline-block;
}

.quiabo-img, .bolo-img, .arroz-img {
    position: relative;
    left: 0
}

.quiabo-link, .bolo-link, .arroz-link {
    position: relative;
    left: 17px; 
    top: -140px;
    background-color: hsl(33, 100%, 88%, .5);
    width: 270px;
    text-align: center;
    border-radius: 25px;
}

a:link {
    color:rgb(143, 89, 17);
    text-decoration: none;

}

a:visited {
    color: rgb(143, 89, 17);
    text-decoration: none;
}

a:hover {
    color: brown;
    text-decoration: none;
    font-size: 22px;
}

img {width: auto;
height: 200px;
}